<p>
    meowwwwwwwww
    Yesterday, me and {{noun_1}} of my friends took a trip to the mall. 
    While we were there we saw this 
    really {{adjective_1}} store called {{noun_plural_1}}'s Pets. 
    We saw {{famous_person}} and {{place_1}} {{verb_ing_1}} in the store display. 
    So we had to go inside. 
    They had miniature {{adjective_2}} and {{favorite_song}} little bunnies. 
    We even got to play with the {{verb_ed_1}} {{adverb_1}} in the {{verb_ing_2}}. 
    I want a/an {{noun_1}} so much!
</p>
