<H3>THANK YOU FOR YOUR PURCCHASE</H3>
<h1>-------------------</h1>
<h2>order confirmation</h2>
<p>Name: {{perosnal_info.first_name}}, {{perosnal_info.last_name}}</p>
<p>Adress: {{perosnal_info.address}}</p>
<p>credit card: {{perosnal_info.credit_Card}}</p>
<h5>order total: ${{formatPrice total_price}}</h1>